*{
    margin: 0;
    padding: 0;
}

body{
    /* background-color: #f1f3f4; */
    font-family: sans-serif;
    overflow-x: hidden;
}

.img1{
    height: 30px;
    border-radius: 5px;

}

.navbar{
    background-color: orangered !important;
}
.side-menu{
    margin-top: 10px;

    height: 400px;
    width: 15%;
    font-size: 14px;
    float: left;
    z-index: 2;
    background-color: #ddd;

}

.side-menu ul{
    margin-left: 10px;
}

.side-menu ul li{
    list-style: none;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}

.side-menu ul li ul{
    display: none;
    z-index: 10;
    top: 77px;

}

.side-menu li:hover{
    color: orange;
}
.side-menu ul li:hover ul{
    display: block;
    height: 160px;
    margin-left: 14%;
    padding: 0 100px 10px 10px;
    position: fixed;
    background: #ececec;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);

}

.fa-angle-right{
    margin-top: 4px;
    margin-right: 8px;
    float: right;
}


/* @media only screen and (max-width: 980px){
    .side-menu{
        width: 34%;
        z-index: 20;
        top: 133px;
        position: fixed;
        font-size: 12px;
    }
} */

.carousel-item{
    size: 50%!important;
    height: 500px important;
}

.c1{
    margin: 20px;
    margin-left: 100px;
    margin-right: 10px;
}

.box{
   margin-top: 10%!important;
    height: 600px;
    background-color: thistle;
    width: 50%;
    margin: 0 auto ;
    z-index: 1;
    border: 5px solid;
    border-radius: 5px;
}
label{
    
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 50px;
}

input{
    float: right;

}

/* .form-group{
    margin-top: 50px;
} */

.form-control{
    float: right;
    padding-left: 10px;
}

button{
    margin: 100px auto;
    margin-left: 40%;
}